<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="wrapper">
			<div class="logo">
				<img
					src="../img/ques.png"
					alt="">
			</div>
			<div class="text-center mt-4 name">Forgot Password</div>
			
			<div th:if="${session.message}"
				th:classappend="${session.message.type}" class="alert text-center"
				role="alert">
				<p th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			
			<form class="p-3 mt-3" th:action="@{/process-forgot}" action="#" method="post">
				<div class="form-field d-flex align-items-center">
					<span class="far fa-user"></span> <input required type="email"
						name="email" id="email" placeholder="Enter your email">
				</div>
				<button class="btn mt-3">Send OTP</button>

				
			</form>
		</div>

	</section>
</body>
</html>